// @import "~bootstrap/dist/css/bootstrap.css";
@import "~office-ui-fabric-react/dist/css/fabric.css";
// @import "~winstrap/dist/css/winstrap.css";

@import "_variables.scss";
@import "_mixins.scss";
@import "testPanels.scss";
@import "layout.scss";

body {
  margin: 0;
}

#header {
    color: white;
    background-color: #141127;
}